.flibusta-card { text-align: center; margin-bottom: 20px; }
.flibusta-card img { max-height: 180px; margin-bottom: 8px; }
.flibusta-title { font-weight: bold; }
.flibusta-author, .flibusta-series { font-size: 0.9em; color: #777; }
.flibusta-card select { margin-bottom: 6px; }
#flibusta-search-form { margin-bottom: 20px; }
#flibusta-more { display: block; margin: 0 auto 30px; }
